### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
ssl/
# vendor/
go.work
*tmp/*
*tmp

### React / NodeJS ###
node_modules/
package-lock.json
bower_components/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Logs ###
*.log
logs/
**/*.backup.*
**/*.back.*

### Build Artifacts ###
build/
build-*/
*.tar
*.zip
*.img
*.pid
*.lock

### Runtime / Temp ###
.env
.env.*
.env.local
*.tmp
*.bak
*.swp

### Editor / IDE ###
.vscode/
!.vscode/extensions.json
.idea/
*.code-workspace
*.sublime*
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### OS / System ###
.DS_Store
Thumbs.db

### CI/CD ###
.coverage/
coverage.out
junit.xml
