APP_ENV=docker
# === BACKEND ===
APPNAME=erp-backend

DB_HOST=postgres
DB_PORT=5432
DB_USER=erp_user
DB_PASSWORD=erp_pass
DB_NAME=erp_db

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PUBLIC_ENDPOINT=files.mycompany.com:9000
MINIO_USE_SSL=true

# === FRONTEND ===

# === MINIO ===
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# === POSTGRES ===
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_pass
POSTGRES_DB=erp_db

SECRET_KEY=6229bd5cfd0f7757a68f46f2a781ad96c38e869ac68ad512bf594bde69d6db11

SMTP_HOST=mail.thdcybersecurity.xyz
SMTP_PORT=587
SMTP_USERNAME=huy.nk@thdcybersecurity.xyz
SMTP_PASSWORD="%8yn!Kl#4mtiO9*yu3yw"
EMAIL_FROM=hr@thdcybersecurity.xyz