# === BACKEND ===
APPNAME=erp-backend

DB_HOST=postgres
DB_PORT=5432
DB_USER=erp_user
DB_PASSWORD=erp_pass
DB_NAME=erp_db

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# === FRONTEND ===

# === MINIO ===
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# === POSTGRES ===
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_pass
POSTGRES_DB=erp_db